
<select class="Category-1 form-select w-50 py-2 px-5 mb-2">
</select>
<select class="Category-2 form-select w-50 py-2 px-5 mb-2">
</select>
<select class="Category-3 form-select w-50 py-2 px-5 mb-2">
</select>
<div class="attrs">
</div>
<script>
    $(document).ready(function () {
        getCategoryByParentId(-1, 1);
    });
    function getCategoryByParentId(id, sub) {
        $.get(`/Category/GetByParentId/ ${id}`,
            function (data) {
                if (data.length == 0) {
                    MakeAttr(id);
                }
                else {
                    Make(data, sub);
                }
            },
            "json"
        );
    }
    function Make(categories, sub) {
        var options = $(`<select onchange="getCategoryByParentId(this.value,${sub + 1})" class="Category-${sub} form-select w-50 py-2 px-5 mb-2">`);
        if (sub == 3) { $(options).attr("name", "CategoryId"); }

        categories.forEach(
            function (category) {
                var option = $(`<option  value = "${category.id}" > ${category.title}</option>`);
                options.append(option)
            }
        )
        $(`.Category-${sub}`).replaceWith(options);
    }

    function MakeAttr(id) {
        
        var table = $(`<table class="attrs mb-5"/>`)
        $.get(`/Category/GetAttrByCategoryId/ ${id}`,
            function (data) {
                console.log(data);
                var i =0;
                data.forEach(
                    function (attr) {
                        var tr = $(`<tr/>`)
                        var td = $(`<td/>`)
                        console.log(attr);
                        var lable = $(`<label class="form-label"> ${attr.title} </label>`)
                        var hiden = $(`<input name="attributes[${i}].AttributeId" hidden class="form-control" value="${attr.id}">`)
                        var input = $(`<input name="attributes[${i}].AttributeValue" type="text" class="form-control" required>`);
                        td.append(lable)
                        td.append(hiden)
                        td.append(input)
                        tr.append(td)
                        table.append(tr)
                        i+=1;
                    }
                )
               
            },
            "json"
                 
        );
        $(`.attrs`).replaceWith(table)
    }
</script>