/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}*/
.app {
    background-color: rgba(143, 188, 143, 0.836) !important;
}

.app-header-inner {
    margin-right: 250px !important;
    margin-left: 0 !important;
}

.app-wrapper {
    margin-right: 250px !important;
    margin-left: 0 !important;
}

.single-product {
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}

.settings-section, .shop-single-blog, .single-list {
    /* background-color: rgba(156, 156, 156, 0.568); */
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 1.5rem;
}

.td-flex {
    align-items: center;
    justify-content: center;
    display: flex;
}

.section-title {
    text-align: center;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slide img {
    width: 100%;
}

.slide {
    float: left;
    width : 550px;
}

@font-face {
    font-family: 'vazir';
    src: url('../plugins/vazir-font/Vazir-Regular.eot');
    src: url('../plugins/vazir-font/Vazir-Regular.eot?#iefix') format('embedded-opentype'), url('../plugins/vazir-font/Vazir-Regular.woff2') format('woff2'), url('../plugins/vazir-font/Vazir-Regular.woff') format('woff'), url('../plugins/vazir-font/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan';
    src : url('../plugins/yekan-font/Yekan-regular.eot?#iefix') format('embedded-opentype'),
        url('../plugins/yekan-font/Yekan-regular.woff') format('woff'),
        url('../plugins/yekan-font/Yekan-regular.ttf') format('truetype');  
    font-style : normal;
}
* {
    font-family: vazir;
}

.error .content{
    display : none;
}


.error:hover .content{
    display :block;
}
/*--------------------------------*/
