@model int;

@{
	
	Layout = "";
	var code = Context.Items["ErrorCode"];
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MarketPlace.Endpoint.Mvc</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/portal.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MarketPlace.Endpoint.Mvc.styles.css" asp-append-version="true" />
</head>
<body class="js app">
<div class="container my-5 mx-auto">
	<div class="row">
		<div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
			<div class="app-branding text-center mb-5">
					<a class="app-logo" href="index.html"><img class="logo-icon me-2" src="~/images/app-logo.svg" alt="logo"><span class="logo-text">PORTAL</span></a>

			</div><!--//app-branding-->
			<div class="app-card p-5 text-center shadow-sm">
				<h1 class="page-title mb-4"><br><span class="font-weight-light">@Model</span></h1>
				<div class="mb-4">
					متاسفانه سایت با ارور مواجه شد 
					کد ارور را برای ادمین ارسال کنید تا پیگیری های لازم را انجام دهند 
				</div>
				<a class="btn app-btn-primary" href="~/Home/Index">Go to home page</a>
			</div>
		</div><!--//col-->
	</div><!--//row-->
</div><!--//container-->
</body>
</html>