@using MarketPlace.Domain.Core.Application.Dtos;
@model List<PictureDto>;


<div class="" style="width:1100px;overflow:hidden;height:600px;position:relative;margin: -12px;">
    <div>
        <div class="slider">
            @foreach(var pic in Model)
            {
                string path = "/images/" + pic.Path;
                <div class="slide">
                    <img src="@path" alt="@pic.Alt">
                </div>
            }
        </div>
    </div>
    <button id="nextBtn" style="position:absolute;top:50%;left:0"><i class="fas fa-chevron-circle-left"></i></button>
    <button id="prevBtn" style="position:absolute;top:50%;right:0"><i class="fas fa-chevron-circle-right"></i></button>
</div>