@using MarketPlace.Domain.Core.Application.Dtos;
@model List<GeneralBoothProductDto>;
<!-- End Shop Blog  -->
<section class="shop-blog section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>بر اساس جستجو های شما</h2>
                </div>
            </div>
        </div>
        <div class="row">

            @foreach (var product in Model)
            {
                string path = "/images/" + product.PicturePath;
                if (product.PicturePath == null)
                {
                    path = "/images/notFound.png";
                }
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog  -->
                    <div class="shop-single-blog">
                        <img src="@path" alt="@product.PictureAlt">
                        <div class="content">
                            <p class="date">یکشنبه 28 آبان 1402</p>
                            <a href="#" class="title">@product.ProductName</a>
                            <p class="date">@product.Price</p>
                            <a href="#" class="more-btn">اضافه کردن به سبد خرید</a>
                        </div>
                    </div>
                    <!-- End Single Blog  -->
                </div>
            }


        </div>
    </div>
</section>
<!-- End Shop Blog  -->
