
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">


            @await Component.InvokeAsync("TopThreeAuctionsVM",null)
            @await Component.InvokeAsync("BestProductsVM")
            @await Component.InvokeAsync("TowNewAuctionVM")
            @await Component.InvokeAsync("HomeProductsListVM")


            
            @await Component.InvokeAsync("DownThreeProductVM")
            
            <!-- Start Shop Services Area -->
            <section class="shop-services section home text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Start Single Service -->
                            <div class="single-service">
                                <i class="fas fa-rocket"></i>
                                <h4>ارسال رایگان</h4>
                                <p>برای خرید های بالا 100 هزار تومان</p>
                            </div>
                            <!-- End Single Service -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Start Single Service -->
                            <div class="single-service">
                                <i class="fas fa-retweet"></i>
                                <h4>باز گرداندن کالا</h4>
                                <p>تا 30 روز پس از خرید</p>
                            </div>
                            <!-- End Single Service -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Start Single Service -->
                            <div class="single-service">
                                <i class="fas fa-lock"></i>
                                <h4>پرداخت امن</h4>
                                <p>پرداخت 100% ایمن</p>
                            </div>
                            <!-- End Single Service -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Start Single Service -->
                            <div class="single-service">
                                <i class="fas fa-hashtag"></i>
                                <h4>بهترین قیمت ها</h4>
                                <p>بر اساس نظرات شما </p>
                            </div>
                            <!-- End Single Service -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Shop Services Area -->
            <!-- Start Footer Area -->
            <footer class="footer">
                <!-- Footer Top -->
                <div class="footer-top section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer about">
                                    <div class="logo">
                                        <a href="index.html"><img class="logo-icon me-2 w-25 h-25" src="~/images/app-logo.svg" alt="logo"></a></a>
                                    </div>
                                    <p class="text">سایت مارکت پلیس با مدیریت آقای طالب زاده یکی از موفق ترین سایت های غرفه ای در صطح جهانی است و بنده چندین مدال برنامه نویسی تمیز شده است و دارای 3 رکود گینس در همین موضوع است</p>
                                    <p class="call">اگر سوالی دارید با ما تماس بگیرید<span><a href="tel:123456789">+98-921-747-0975</a></span></p>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-2 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer links">
                                    <h4>اطلاعات</h4>
                                    <ul>
                                        <li><a href="#">درباره ما</a></li>
                                        <li><a href="https://github.com/mhmdttlbzd">گیت هاب</a></li>
                                        <li><a href="#">شرایط و ضوابط</a></li>
                                        <li><a href="mhmdttlbzd@gmail.com">ارتبات با ما</a></li>
                                        <li><a href="#">کمک</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-2 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer links">
                                    <h4>سرویس های خریداران</h4>
                                    <ul>
                                        <li><a href="#">قابلیت پرداخت</a></li>
                                        <li><a href="#">بازگشت پول</a></li>
                                        <li><a href="#">بازگشت کالا</a></li>
                                        <li><a href="#">ارسال به سراسر دنیا</a></li>
                                        <li><a href="#">امنیت بالا</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer social">
                                    <h4>در تماس باشید</h4>
                                    <!-- Single Widget -->
                                    <div class="contact">
                                        <ul>
                                            <li>شیراز - خیابان ملاصدرا - کوچه اول - جنب خانه سوم - 121212</li>
                                            <li>098 ایران</li>
                                            <li>mhmdttlbzd@gmail.com</li>
                                        </ul>
                                    </div>
                                    <!-- End Single Widget -->
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Footer Top -->
            </footer>
            <!-- /End Footer Area -->
        </div>
    </div>
</div>