@using MarketPlace.Domain.Core.Application.Dtos;
@using MarketPlace.Domain.Core.Application.Entities._Admin;

@model AdminOutputDto;


<H1>@Model.PersonalCode</H1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
