@using MarketPlace.Domain.Core.Application.Dtos;
@model List<PictureDto>;

@if (Model != null && Model.Count() != 0)
{
    <div class="my-auto tm overflow-hidden position-relative w-100">
        <div>
            <div class="mSlider row">
                @foreach (var pic in Model)
                {
                    string path = "/images/" + pic.Path;

                    <div class="mSlide">
                        <img src="@path" alt="@pic.Alt">

                    </div>
                }
            </div>
        </div>
        <button id="mNextBtn" style="position:absolute;top:50%;left:0"><i class="fas fa-chevron-circle-left"></i></button>
        <button id="mPrevBtn" style="position:absolute;top:50%;right:0"><i class="fas fa-chevron-circle-right"></i></button>
    </div>

}