@model int

<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            @await Component.InvokeAsync("BoothVM",Model)
            @await Component.InvokeAsync("ProductsVM",Model)
        </div>
    </div>
</div>

